body {
    background-color: #333;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#canvas {
    background-color: #f0f0f0;
    border-radius: 3px;
}
